nav{
    justify-content: space-between;
    align-items: center;
    display: flex;
    
    
}
.form-group{
    text-decoration: none;
    justify-content: space-between;
    display: flex;
    margin: 100px;}