* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #fafafa;
}

/* NAV */
header {
    background: black;
    padding: 20px 0;
}

.nav-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: gold;
    font-size: 28px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-left: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a:hover,
nav .active {
    color: gold;
}

/* HERO */
.hero {
    background: url("images/hero.jpg") center/cover no-repeat;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero h1 {
    color: white;
    font-size: 60px;
}

.hero p {
    color: gold;
    font-size: 24px;
    margin-top: 10px;
}

.hero button {
    margin-top: 25px;
    background: gold;
    padding: 12px 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

/* FOOTER */
footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}
