nav{
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.form-group{
    flex-direction: row;
    display: flex;
    gap: 15px;
    font-size: 10px;
    background-color: black;
    color: white;
}
@media screen {
    
}

